<header class="bg-gradient-purple text-white">
  <div class="p-6 flex items-center gap-3">  

    <div class="mx-4 py-4"></div>
  
    <div class=""></div>
      <div class="font-medium text-lg"> Welcome dear Charizard </div> 
    <div class=""></div>

  </div>
</header>


<div class="animate__animated animate__fadeIn">
  
  <section class="py-4 mt-7 grid gap-2 justify-center ">
    
    <div class="flex justify-center mb-5">
      <img class="w-44 h-max" src="assets/icons/logo-ligth.png " alt="logo">
    </div>


    <div class="mx-4 items-center">
      <button [routerLink]="['/home/addblog']" class="btn w-80 h-16 lg:w-36  align-middle dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark-purple rounded-[50px]">
        Add Blog
      </button>
    </div>

    <div class="mx-4 items-center ">
      <button [routerLink]="['/home/addcourse']" class="btn w-80 h-16 lg:w-36  align-middle dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark-purple rounded-[50px]">
        Add Course
      </button>
    </div>


  </section>

</div>
