<header class="bg-gradient-purple rounded-br-[50px]">
  <div class="text-white bg-main-bg bg-cover">
    <div class="py-6 px-4">
      <span [routerLink]="['/home/main']" class="fas fa-chevron-left pr-4"></span> <span
        class="font-medium text-lg">Videos</span>
    </div>
    <nav class="flex gap-5 mx-3 carrusel overflow-auto">
      @for (item of fetchedCategories(); track item.id) {
      <div (click)="onCategorySelected(item)">
        <div class="flex justify-center items-center text-nowrap text-white p-2">
          <span class="h-2 w-2 bg-white rounded-full mr-2"></span>
          <span class="font-medium text-sm">{{item.name}}</span>
        </div>
        <span [ngClass]="{'selected': item.id == selectedCategory?.id}"></span>
      </div>
      }
    </nav>
  </div>
</header>

<section class="animate__animated animate__fadeIn">
  <div class="mx-4 mt-6 mb-2">
    <h1 class="text-xl font-bold dark:text-white">{{ 'video-course' | transloco}}</h1>
  </div>
  @if(isLoadingCourses){
    <div class="flex justify-center items-center h-16 animate__animated animate__fadeIn">
      <span class="fas fa-spinner fa-spin fa-2x text-gray-400"></span>
      <span class="text-gray-400 text-lg ml-2">{{'loading' | transloco}}</span>
    </div>
  } @else if (coursesByCategory().length > 0) {
    <div 
      class="grid grid-cols-2 md:grid-cols-3 gap-4 px-4 mt-4 animate__animated animate__fadeIn"
      infiniteScroll
      [infiniteScrollContainer]="scrollContainer"
      [infiniteScrollDistance]=".15"
      [infiniteScrollThrottle]="300"
      [horizontal]="false"
      [alwaysCallback]="true"
      (scrolled)="!hasNoMoreCourses && !isLoadingMoreCoursesByCategory && getCoursesByCategory()"
    >
      @for (course of coursesByCategory(); track $index) {
        <app-player-card [item]="adaptToPlayerCard(course)" class="w-full h-auto" />
      }
      @if (isLoadingMoreCoursesByCategory) {
        @for (i of [1,2,3,4]; track $index) {
          <app-square-skeleton [dimensions]="{width: '100%', heigth:'150px'}"/>
        }
      }
    </div>
  } @else {
    <div class="flex justify-center items-center h-16 animate__animated animate__fadeIn">
      <span class="fas fa-exclamation-triangle fa-2x text-gray-400"></span>
      <span class="text-gray-400 text-lg ml-2">{{'nothing-to-show' | transloco}}</span>
    </div>
  }
</section>