<header class="bg-gradient-purple text-white" [hidden]="isLoadingSection">
  <div class="p-6 flex items-center gap-5">

    <div class="flex items-end dark:text-gray-500" [routerLink]="['/admin']" >
      <span class="fas fa-chevron-left"></span>
    </div>

    <div class=""></div>
      <div class="font-medium text-lg"> Añadir Sección </div>
    <div class=""></div>

  </div>
</header>

<div class="animate__animated animate__fadeIn" [hidden]="isLoadingSection">

  <section class="mx-4 py-7">
    <form
    (ngSubmit)="addSection()"
    [formGroup]="addSectionForm">

    <div class="gap-2 grid dark:text-white">


      <p class="font-medium text-lg">Course name</p>
      <mat-form-field appearance="outline">
        <mat-label>Select an option</mat-label>
        <mat-select formControlName="course">
          @for (trainer of courses; track trainer.id) {
            <mat-option [value]="trainer">{{trainer.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <p class="font-medium text-lg">Section Name</p>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput
              formControlName="name"
               placeholder="The best course ever">
      </mat-form-field>

      <p class="font-medium text-lg">Section Description</p>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="This course is about of how to survive to software development"
        formControlName="description"
        ></textarea>
      </mat-form-field>

      <p class="font-medium text-lg">Section Video</p>

      <div class="bg-slate-100 shadow-md p-2 w-full">
        <input type="file"
              class="font-medium text-xl text-gray-500 bg-transparent border-none w-full focus:outline-none"
              placeholder="Subir Video"
              (change)="loadVideo($event)"
              formControlName="video">
      </div>

    </div>

    <div class="mx-3 py-3"></div>

    <div class="w-full flex">
      <button [routerLink]="['/admin']" class="btn w-1/2 h-16 lg:w-36 m-4 align-middle dark:bg-custom-light text-custom-light dark:text-custom-dark-purple rounded-[50px]"
      [ngClass]="{'bg-custom-gradient-purple': !darkModeService.isDarkMode()}">
        Cancel
      </button>

      <button
        type="submit"
        class="btn w-1/2 h-16 lg:w-36 m-4 align-middle dark:bg-custom-light text-custom-light dark:text-custom-dark-purple rounded-[50px]"
        [disabled]="addSectionForm.invalid || isLoadingSection"
        [ngClass]="{'bg-custom-gradient-purple': !darkModeService.isDarkMode()}">
        Confirm
      </button>
    </div>

    <div class="mx-2 py-2"></div>
  </form>

  </section>

</div>
  <video id="video_tester" width="0" controls #video (loadedmetadata)="onMetadata($event, video)" [hidden]="true"></video>

@if (isLoadingSection) {
  <app-loader></app-loader>
}
