<header>
  <!REFACTORIZAR USUARIO>
  <nav class="bg-gradient-purple rounded-br-[50px] text-white">
    <div class="py-10 px-4 text-white bg-main-bg bg-cover">
      <a class="profile-picture" [routerLink]="['/home/profile']"><img src="assets/icons/icon.jpg" class= "w-[40px] h-[40px] rounded-full" align=right/></a>
      <span class="font-bold text-lg">Raytory Roxty<br><p class="font-medium text-lg">ID:xxxxxxx</p></span> 
    </div>
    <div class="rounded-lg bg-slate-100 shadow-md py-1 p-4 flex items-center mx-4 gap-2 ">
      <input type="text" class="font-medium text-xl text-gray-500 bg-transparent border-none w-full focus:outline-none" placeholder="Search">
      <button type="submit" class="fas fa-search fa-xl text-gray-400"></button>
    </div>
   <div class="mx-4 py-4"></div>
  </nav> 
</header>

<section>
  <div class="mx-4 py-7">
    <h1 class="text-xl font-bold dark:text-white">Make Your Body Fit And Healthy</h1>
</div>
<p class="text-sm text-gray-500 dark:text-white ml-4 ">Last Update 30 Seconds Ago</p>
<div class="border-t border-gray-300 my-4"></div>
</section>

<section class="mx-4">
  <div class="flex justify-between items-end dark:text-white">
    <h1 class="text-xl font-bold">{{'Yoga Categories'}}</h1>
    <div class="flex items-center text-gray-500 pr-2" [routerLink]="['']" >
      <a  class="text-sm mx-2">See All</a>
      <span class="fas fa-chevron-right"></span>
  </div>
</div>
<div class="carrousel mt-4">
  @for (item of catNames; track item.icon) {
      <article class="bg-white dark:bg-slate-600 rounded-lg shadow-md w-[69px]">
          <img [src]="item.icon" alt="category" class="object-cover rounded-xl">
          <div>
              <h1 class="text-lg font-bold text-wrap dark:text-white">{{ item.catName }}</h1>
          </div>
      </article>
  }
</div>
</section>

<section class="mx-4 py-7">
    <div class="flex justify-between items-end dark:text-white">
      <h1 class="text-xl font-bold">{{'Popular Courses'}}</h1>
      <div class="flex items-center text-gray-500 pr-2" [routerLink]="['/home/main-course']" >
          <a  class="text-sm mx-2">See All</a>
          <span class="fas fa-chevron-right"></span>
      </div>
  </div>
  <app-carrusel-bg-img [courses]="popularCourses"/>
</section>

<section class="mx-4 py-7">
  <div class="flex justify-between items-end dark:text-white">
    <h1 class="text-xl font-bold">{{'Video Courses'}}</h1>
    <div class="flex items-center text-gray-500 pr-2" [routerLink]="['/home/video-list']" >
        <a  class="text-sm mx-2">See All</a>
        <span class="fas fa-chevron-right"></span>
    </div>
</div>

<!CREAR COMPONENTE CARRUSEL VIDEO>
<div class="carrousel mt-4">
  @for (item of videoCourses; track item.id) {
      <div class="text-white rounded-lg bg-cover bg-center h-[150px] w-[200px] flex flex-col justify-end p-4 relative"
          [routerLink]="['/home/player-video']" [style.background-image]=" 'url(' + item.thumbnail + ')'" >
          <button [routerLink]="['/home/player-video']" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-6xl">
            <i class="fa-regular fa-circle-play"></i>
        </button>      
      </div>
      }
</div>
</section>

<section class="mx-4 py-7">
  <div class="flex justify-between items-end dark:text-white">
    <h1 class="text-xl font-bold">{{'Our Latest Blogs'}}</h1>
</div>

<!CREAR COMPONENTE CARD CARRUSEL BLOGS>
<div class="carrousel mt-4">
  @for (item of latestBlogs; track item.id) {
      <article class="bg-white dark:bg-slate-600 rounded-lg shadow-md w-[200px]">
          <img [src]="item.image" alt="course" class="w-full h-48 object-cover rounded-xl">
          <div class="p-4">
              <h1 class="text-lg font-bold text-wrap dark:text-white">{{ item.name }}</h1>
              <div class="flex justify-between mt-3">
                  <p class="text-sm text-gray-500 text-wrap dark:text-white">{{ item.description }}</p>
              </div>
          </div>
      </article>
  }
</div>
</section>