<section class="mx-4 py-7">
  <div class="flex justify-between items-end dark:text-white">
    <h1 class="text-xl font-bold">{{'our-latest-blogs'| transloco}}</h1>
    <div class="flex items-center text-gray-500 pr-2" [routerLink]="['/home/main-blogs']">
      <a class="text-sm mx-2 dark:text-white cursor-pointer">{{'see-all' | transloco}}</a>
      <span class="fas fa-chevron-right"></span>
    </div>
  </div>

  <div 
    class="grid grid-cols-2 mt-4 gap-2 justify-center"
    infiniteScroll
    [infiniteScrollContainer]="scrollContainer"
    [infiniteScrollDistance]=".25"
    [infiniteScrollThrottle]="300"
    [horizontal]="false"
    (scrolled)="!isLoadingBlogs() && !isLoadingMoreBlogs() && getBlogs()"
  >
    @if (isLoadingBlogs()) {
      @for (item of [1,2,3,4]; track $index) {
        <app-square-skeleton [dimensions]="{width: '175px', heigth: '175px'}" />
      }
    } @else {
      @for (blog of latestBlogs(); track blog.id) {
        <app-blog-article [blog]="blog"/>
      }
      @if (isLoadingMoreBlogs()) {
        @for (item of [1,2]; track $index) {
          <app-square-skeleton [dimensions]="{width: '175px', heigth: '175px'}" />
        }
      }
    }
  </div>
</section>