
<section class="m-3 animate__animated animate__fadeIn">
  <p class="text-lg  text-gray-500 dark:text-white ml-5 ">{{course.description}}</p>
  <div class="border-t border-gray-300 my-4"></div>
  <div class="grid grid-flow-col grid-rows-1 justify-around dark:text-white">
    <div class="flex items-center gap-3">
      <div class="w-10 h-10 bg-slate-300 dark:bg-slate-500 shadow-sm flex items-center justify-center rounded-md">
        <span class="fas fa-bars text-purple-700 dark:text-white"></span>
      </div>
      <div class="flex flex-col">
        <span class="text-gray-500 dark:text-white font-semibold">{{'level' | transloco}}</span>
        <span class="text-lg font-bold">{{course.level}}</span>
      </div>
    </div>
    <div class="flex items-center gap-3">
      <div class="w-10 h-10 bg-slate-300 dark:bg-slate-500 shadow-sm flex items-center justify-center rounded-md">
        <span class="fa-regular fa-calendar-days text-purple-700 dark:text-white text-lg"></span>
      </div>
      <div class="flex flex-col">
        <span class="text-gray-500 dark:text-white font-semibold ">{{"weeks" | transloco}}</span>
        <span class="text-lg font-bold">{{course.durationWeeks}}</span>
      </div>
    </div>
    <div class="flex items-center gap-3">
      <div class="w-10 h-10 bg-slate-300 dark:bg-slate-500 shadow-sm flex items-center justify-center rounded-md">
        <span class="fa-regular fa-clock text-purple-700 dark:text-white text-lg"></span>
      </div>
      <div class="flex flex-col">
        <span class="text-gray-500 dark:text-white font-semibold">Mins</span>
        <span class="text-lg font-bold">{{course.durationMinutes}}</span>
      </div>
    </div>
  </div>
</section>