.btn{
  box-shadow: 0px 14px 22px rgba(114, 79, 227, 0.17);
  border-radius: 30px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.3px;
  }

  .input-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
