<div class="flex flex-col  h-screen w-auto items-center justify-center bg-createPassword-ligth dark:bg-createPassword-dark bg-custom-dark-purple  bg-center bg-cover relative
animate__animated animate__fadeIn"
[ngClass]="{'input-ligth':!darkModeService.isDarkMode(),'input-dark':darkModeService.isDarkMode()}">

  <div class="relative mt-9">
    <div class="w-32 h-28 md:w-52 lg:w-60">
        <img class="w-auto h-max" src="assets/icons/logo-dark.png" alt="logo">
    </div>
  </div>

  <div class="justify-center items-center text-center h-screen w-80">

    <div id="pepe" class="grid grid-cols-1 content-center place-items-center mt-28 w-300 h-auto">
      <div class="w-72 h-auto dark:text-custom-light ">
        <h1 class="text-3xl text-wrap w-auto font-bold text-custom-dark dark:text-custom-light">Create Password</h1>
        <p class="text-wrap w-auto mt-4 text-custom-ligth-gray dark:text-custom-light">Create a new password and please never share it with anyone for safe use</p>
      </div>

      <form
      [formGroup]="createPasswordForm"
      (submit)="createPassword()">

        <mat-form-field appearance="outline" class="text-base text-justify mt-6 w-80 h-14">

          <mat-label>Password</mat-label>
          <mat-icon matPrefix class="material-icons md-18 ml-4 font">lock</mat-icon>
            <input matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              placeholder="•••••••••">
            <button class="mr-6"
              type="button"
              mat-icon-button matSuffix
              (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        @if (isValidField('password')) {
          <app-error error="Must have first and last name"></app-error>
        }
        <mat-form-field appearance="outline" class="text-base mt-6 w-80 h-14">

          <mat-label>Confirm Password</mat-label>
          <mat-icon matPrefix class="material-icons md-18 ml-4">lock</mat-icon>
            <input matInput
            [type]="hideConfirm ? 'password' : 'text'"
            formControlName="confirmationPassword"
            placeholder="•••••••••">
            <button class="mr-6" type="button"  mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">

            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>

          </button>

        </mat-form-field>

      </form>

        <button class="btn mt-8 w-80 h-14 lg:w-36  align-middle text-xl  text-custom-light rounded-[50px] dark:text-custom-dark-purple"
        [ngClass]="{'bg-gradient-purple':!darkModeService.isDarkMode(),'bg-custom-light':darkModeService.isDarkMode()}"
        type="submit"
        >
          Update Password
        </button>

        <!-- <pre>{{createPasswordForm.value| json}}</pre>
        <pre>{{createPasswordForm.invalid| json}}</pre> -->

    </div>

  </div>

</div>
