<app-basic-header-notification [options]="{name: 'notifications', redirect:'/home/main'}"/>
<div class="mt-8 font-medium max-w-[800px] m-auto mb-[175px]">

    <div class="label-notificaciones">
        <span class="text-black dark:text-white font-bold"[innerHTML]="'Cant find notifications' | transloco"></span><br>
        <span class="text-gray-500 dark:text-white"[innerHTML]="'Lets explore more content around you' | transloco"></span>
    </div>

    <span class="material-symbols-outlined text-gray-500 dark:text-gray-400">
        notifications
    </span>

    <button class="boton-volver text-white bg-purple-900 dark:text-purple-700 dark:bg-white" [innerHTML]="'Back to feed' | transloco" [routerLink]="['/home']"></button>

</div>