
<div class="flex flex-col  h-screen w-auto items-center justify-center bg-splashScreen bg-center bg-cover bg-custom-dark-purple
animate__animated animate__fadeIn">

  <div class="grid grid-cols-1 place-items-center text-center content-center m-5">
    <div class="w-72 h-auto">
      <h1 class="text-3xl text-wrap w-auto font-bold dark:text-custom-light text-custom-dark">{{title | transloco}}</h1>
      <p class="text-wrap w-auto text-custom-ligth-gray dark:text-custom-light mt-4">{{subtitle | transloco}}</p>
    </div>
  </div>

  <div class="mt-8">
    <img src="assets/icons/check.svg">
  </div>
  <div class="grid grid-cols-1 mt-16">
    <button class="btn w-80 h-16 lg:w-36 text-xl  align-middle dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark-purple rounded-[50px]"
    type="button"
    (click)="router.navigateByUrl('/auth/login')"
    >
      {{buttonName | transloco}}
    </button>

  </div>

</div>

