<div class="flex flex-col  h-screen w-auto items-center justify-center bg-verification-bg dark:bg-custom-dark bg-custom-light  bg-center bg-cover relative animate__animated animate__fadeIn">

  <div class="relative flex-none mt-9">
    <div class="w-32 h-28 md:w-52 lg:w-60">
      @if (darkModeService.isDarkMode()) {  <img class="w-auto h-max" src="assets/icons/logo-dark.png" alt="logo">
      }
      @else {
        <img class="w-auto h-max" src="assets/icons/logo-ligth.png" alt="logo">
      }
    </div>
  </div>

  <div class="flex-1 justify-center items-center text-center">

    <div class="grid grid-cols-1 content-center mt-20 m-5">
      <div class="w-72 h-auto text-custom-light">
        <h1 class="text-3xl text-wrap w-auto font-bold">{{title | transloco}}</h1>
        <p class="text-wrap w-auto mt-4">{{subtitle | transloco}}</p>
        <p class="text-wrap w-auto font-bold">{{email.getValue()}}</p>
      </div>
    </div>

    <div class="grid grid-cols-1 mt-6 content-center">
      <form class="max-w-sm mx-auto"
      [formGroup]="verificationCodeForm"
      (submit)="verificateCode()"
      >
        <div class="flex mb-2 space-x-2 rtl:space-x-reverse">
            <div>
                <label for="code-1" class="sr-only">First code</label>
                <input type="text"
                maxlength="1"
                formControlName="firstCode"
                data-focus-input-init
                data-focus-input-next="code-2"
                id="code-1"
                class="block w-16 h-16 py-3 text-2xl font-extrabold text-center text-custom-dark-purple bg-white border border-custom-light-purple rounded-lg focus:ring-custom-light-purple focus:border-custom-dark"
                 />
            </div>
            <div>
                <label for="code-2" class="sr-only">Second code</label>
                <input type="text"
                maxlength="1"
                formControlName="secondCode"
                data-focus-input-init data-focus-input-prev="code-1"
                data-focus-input-next="code-3"
                id="code-2"
                class="block w-16 h-16 py-3 text-2xl font-extrabold text-center text-custom-dark-purple bg-white border border-custom-light-purple rounded-lg focus:ring-custom-light-purple focus:border-custom-dark"  />
            </div>
            <div>
                <label for="code-3" class="sr-only">Third code</label>
                <input type="text"
                maxlength="1"
                formControlName="thirdCode"
                data-focus-input-init data-focus-input-prev="code-2"
                data-focus-input-next="code-4"
                id="code-3"
                class="block w-16 h-16 py-3 text-2xl font-extrabold text-center text-custom-dark-purple bg-white border border-custom-light-purple rounded-lg focus:ring-custom-light-purple focus:border-custom-dark"  />
            </div>

            <div>
              <label for="code-3" class="sr-only">Forth code</label>
              <input type="text"
              maxlength="1"
              formControlName="forthCode"
              data-focus-input-init data-focus-input-prev="code-3"
              id="code-4"
              class="block w-16 h-16 py-3 text-2xl font-extrabold text-center text-custom-dark-purple bg-white border border-custom-light-purple rounded-lg focus:ring-custom-light-purple focus:border-custom-dark"   />
          </div>
        </div>
        <div class="place-content-center mt-8">
          <button class="btn w-64 h-16 lg:w-96 dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark-purple rounded-[50px]"
          [disabled]="verificationCodeForm.invalid"
          type="submit"
          >
          <p class="text-lg">
            {{buttonVerificateCode | transloco}}
          </p>
          </button>
        </div>
    </form>
    </div>
    <div  class="grid grid-cols-1 mt-5 content-center">
     <div>
        <span class="text-custom-light mt-10">{{iDontReceive | transloco}} </span>
        <a class=" text-custom-light mt-10 font-bold" [routerLink]="" (click)="resendCode()">{{pleaseResend | transloco}}</a>
      </div>
    </div>

  </div>


</div>
