<article class="bg-white dark:bg-slate-600 rounded-xl shadow-md w-[250px] h-[220px]"
        [routerLink]="[routerLink]"
        [queryParams]="{id: item.id}">
    <img [src]="item.thumbnail" alt="course" class="w-full h-2/3 object-cover rounded-xl">
    <div class="m-2 py-1 px-2">
        <h1 class="text-lg line-clamp-1 text-gray-500 text-wrap dark:text-white">{{ item.title }}</h1>
        <div class="flex justify-between items-center">
            <p class="text-sm  text-purple-700 dark:text-gray-300">{{ item.description }}</p>
            <p class="text-xs  text-gray-500 dark:text-gray-300">{{ item.date }}</p>
        </div>
    </div>
</article>