<div class="bg-gradient-purple rounded-br-[50px] py-10 px-4 text-white">
  <span [routerLink]="['/home/main']" class="fas fa-chevron-left pr-4"></span> <span class="font-medium text-lg">Settings</span>
</div>

<!-- TODO: agregar routerLink -->
<div class="mt-8 font-medium max-w-[800px] m-auto mb-[175px]">
  @for (op of options; track op.optionName) {
    <div class="px-4 flex justify-between items-center py-6 border-b-[1px] border-b-[rgba(0,0,0,.2)] cursor-pointer hover:bg-white transition-all duration-300">
      <div class="flex items-center gap-6">
        <span [ngClass]="[op.icon]" [ngStyle]="{'background-color': op.color}" class="fas fa-user w-[32px] h-[32px] rounded-full flex items-center justify-center text-white text-xs"></span>
        <span class="dark:text-white">{{ op.optionName }}</span>
      </div>
      <span class="fas fa-chevron-right text-gray-400"></span>
    </div>
  }

</div>
