<div class="flex flex-col  h-screen w-auto items-center justify-center bg-login-ligth dark:bg-login-dark bg-center bg-cover bg-custom-dark-purple">

  <div class="w-40 h-36 md:w-52 lg:w-60 logo">
    <img class="w-auto h-max" src="assets/icons/logo-dark.png" alt="logo">
</div>

  <div class="items-center justify-center mt-20">

    <div class="items-center justify-center mx-5">
      <h1 class="text-4xl text-wrap w-auto font-bold text-ce  dark:text-custom-light text-custom-dark text-center">Reset Password</h1>

      <p class="text-wrap text-center text-custom-ligth-gray dark:text-custom-light mt-4">Please enter your email address. You will get a
        link to create new password by email.</p>
    </div>

    <div class="items-center justify-center">

      <form class="grid grid-cols-1 mt-10 items-center justify-center"
      autocomplete="off"
      [formGroup]="resetPasswordForm"
      (submit)="resetPassword()">
      <input type="email" formControlName="email" placeholder="your email@gmail.com">

      <div class="grid grid-cols-1 mt-7 ">
        <button class="btn w-80 h-16 lg:w-36  align-middle dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark-purple rounded-[50px]"
        [disabled]="resetPasswordForm.invalid"
        type="submit"
        >
          Send New Password
        </button>

      </div>

    </form>

    </div>

  </div>

  <div class="mt-10 align-middle">
    <div class="">
      <span class="dark:text-custom-light text-gray-500 mt-10">Do you wan't to return to </span>
      <a class=" dark:text-custom-light text-custom-dark-purple mt-10 font-bold" [routerLink]="['/auth/login']">Log in</a>
      <span class="dark:text-custom-light text-gray-500 mt-10"> ? </span>
    </div>

    <div class="mt-5">
      <span class="dark:text-custom-light text-gray-500 mt-10"> Do you wan't to return to </span>
      <a class=" dark:text-custom-light text-custom-dark-purple mt-10 font-bold" [routerLink]="['/auth/signup']">Sign up</a>
      <span class="dark:text-custom-light text-gray-500 mt-10"> ? </span>
    </div>
  </div>


</div>

