<div class="flex flex-col  h-screen w-auto items-center justify-center bg-reset-ligth  dark:bg-reset-dark bg-center bg-cover bg-custom-dark-purple relative
animate__animated animate__fadeIn"
[ngClass]="{'input-ligth':!darkModeService.isDarkMode(),'input-dark':darkModeService.isDarkMode()}">

  <div class="relative flex-none mt-9">
    <div class="w-32 h-28 md:w-52 lg:w-60">
      <img class="w-auto h-max" src="assets/icons/logo-dark.png" alt="logo">
    </div>
  </div>

  <div class="flex-1 justify-center items-center text-center">

    <div class="grid grid-cols-1 content-center mt-20 m-5">
      <div class="w-72 h-auto">
        <h1 class="text-3xl text-wrap w-auto font-bold dark:text-custom-light text-custom-dark">Reset Password</h1>
        <p class="text-wrap w-auto text-custom-ligth-gray dark:text-custom-light mt-4">Please enter your email address. You will get a
          link to create new password by email.</p>
      </div>
    </div>

    <div class="grid grid-cols-1 mt-6 content-center">
      <form class=""
      autocomplete="off"
      [formGroup]="resetPasswordForm"
      (submit)="resetPassword()">


      <mat-form-field appearance="outline" class="text-base w-80 h-16
      focus:ring focus:border-custom-dark-purple "
      >
        <mat-icon matPrefix class="material-icons md-18 ml-4">mail</mat-icon>
        <mat-label>Email</mat-label>
          <input matInput
          type="email"
          formControlName="email"
          placeholder="your email@gmail.com">
      </mat-form-field>

      <div class="place-content-center mt-8">
        <button class="btn w-80 h-16 lg:w-96 dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark-purple rounded-[50px]"
        [disabled]="resetPasswordForm.invalid"
        type="submit"
      >
      <p class="text-lg">
        Send New Password
      </p>
      </button>
    </div>
    </form>

    </div>

    <div  class="grid grid-cols-1 mt-5 content-center">
      <div class="">
        <div>
          <span class="dark:text-custom-light text-gray-500 mt-10">Do you wan't to return to </span>
          <a class=" dark:text-custom-light text-custom-dark-purple mt-10 font-bold" [routerLink]="['/auth/login']">Log in</a>
          <span class="dark:text-custom-light text-gray-500 mt-10"> ? </span>
        </div>

        <div class="mt-5">
          <span class="dark:text-custom-light text-gray-500 mt-10"> Do you wan't to return to </span>
          <a class=" dark:text-custom-light text-custom-dark-purple mt-10 font-bold" [routerLink]="['/auth/signup']">Sign up</a>
          <span class="dark:text-custom-light text-gray-500 mt-10"> ? </span>
        </div>
      </div>
    </div>

  </div>
</div>
