.dark-text {
        fill: #ffffff;
      }

.light-text{
        fill:black;
}

progress {
        width: 100%; 
        height: 10px; 
        background-color: white;
        border-radius: 10px;
       }
       
       progress::-webkit-progress-bar {
        background-color: white; 
        border-radius: 10px;
       }
       
       progress::-webkit-progress-value {
        background-color: #27AE60;
        border-radius: 10px;
       }
       