<header class="bg-gradient-purple rounded-br-[50px] text-white">
  <div class="py-5 px-4 text-white bg-main-bg bg-cover">
    <span [routerLink]="['/home/main']" class="fas fa-chevron-left pr-4"></span> <span class="font-medium text-lg">Profile</span>
</div>
<div class="flex items-center ml-4">
  <span class="profile-picture"><img src="assets/icons/icon.jpg" class= "w-[69px] h-[69px] rounded-full" align=left/></span>
  <div class="container">
    <div class="ml-1">1470<p class="number">Followers</p></div>
    <div class="ml-1">730<p class="number">Following</p></div>
    
</div>
</div>

</header>

<section>
  <div class="mx-4 mt-6 mb-2">
    <h1 class="text-xl font-bold dark:text-white">My Statistics</h1>
  </div>
</section>

<section class="mx-4 py-7">
  <div class="flex justify-between items-end dark:text-white">
    <h1 class="text-xl font-bold">{{'My Training'}}</h1>
    <div class="flex items-center text-gray-500 pr-2" [routerLink]="['/home/video-list']" >
        <a  class="text-sm mx-2">See All</a>
        <span class="fas fa-chevron-right"></span>
    </div>
</div>
<app-carrusel-bg-img [courses]="popularCourses"/>
</section>