.sidebar {
  width: 312.5px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  border-radius: 0px 0px 82px 0px;
  transform: translateX(-101%);
  transition: all 300ms;
  z-index: 2;
}

.sidebar.active {
  transform: translateX(0);
}

.backdrop {
  position: absolute;
  background: #0000004f;
  inset: 0;
  z-index: 2;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.sidebar ul li:not(:first-child) {
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.sidebar ul li a span {
  width: 50px;
}