<div class="flex flex-col  h-screen w-auto items-center justify-center bg-login-ligth dark:bg-login-dark bg-center bg-cover bg-custom-dark-purple md:bg-custom-dark-purple
animate__animated animate__fadeIn">

  <div class="relative">
    <div class="w-44 md:w-52 lg:w-60 left-1/4 right-1/4 top-1/5 bottom-3/5">
      <img class="w-auto h-max" src="assets/icons/logo-dark.png" alt="logo">
    </div>
  </div>

  <div class="items-center justify-center mt-28">

    <h1 class="text-4xl text-wrap w-auto font-bold text-center  dark:text-custom-light text-custom-dark">Login</h1>

    <form class="grid grid-cols-1 m-1 mt-10"
      autocomplete="off"
      [formGroup]="loginForm"
      (submit)="login()">

      <mat-form-field appearance="fill" class="outline-none">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="your email@gmail.com">
      </mat-form-field>


      <mat-form-field appearance="fill" class="rounded-[50px]">
      <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      </mat-form-field>

      <div class="grid grid-cols-1 mt-9">
        <button class="btn w-80 h-16 lg:w-36  align-middle dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark-purple rounded-[50px]"
        [disabled]="loginForm.invalid"
        type="submit"
        >
          Login
        </button>

      </div>

    </form>

  </div>

    <a class=" text-custom-dark-purple dark:text-custom-light mt-3" [routerLink]="['/auth/resetpassword']">Forget your password</a>

    <div class="mt-10">
      <span class="dark:text-custom-light text-gray-500 mt-10"> Don't have an account ? </span>
      <a class=" dark:text-custom-light text-custom-dark-purple mt-10 font-bold" [routerLink]="['/auth/signup']">Sign up</a>
    </div>
</div>

