<div class="flex flex-col  h-screen w-auto items-center justify-center bg-login-ligth dark:bg-login-dark bg-center bg-cover bg-custom-dark-purple">

  <div class="w-44 md:w-52 lg:w-60 logo ">
      <img class="w-auto h-max" src="assets/icons/logo-dark.png" alt="logo">
  </div>

    <h1 class="text-4xl text-wrap w-auto font-bold text-ce  dark:text-custom-light text-custom-dark mt-56">Login</h1>

    <form class="grid grid-cols-1 m-10 mt-10">
    <input type="email" placeholder="your email@gmail.com">
    <input type="password" placeholder="******">
    </form>

    <div class="grid grid-cols-1">
      <button class="btn w-80 h-16 lg:w-36  align-middle dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark-purple ">
        <a [routerLink]="['/auth/login']">Login</a>
      </button>
      <a class=" text-custom-dark-purple dark:text-custom-light" [routerLink]="['/auth/login']">Forget your password</a>
    </div>

    <div class="dark:text-custom-light text-custom-dark-purple">
      <span> Don't have an account ? </span>
      <a class="font-bold" [routerLink]="['/auth/signup']">Sign up</a>
    </div>
</div>

