<header class="bg-gradient-purple rounded-br-[50px]">
    <div class="text-white bg-main-bg bg-cover">
        <div class="py-6 px-4">
            <span [routerLink]="['/home/main']" class="fas fa-chevron-left pr-4"></span> <span class="font-medium text-lg">Videos</span>
        </div>
        <nav class="flex gap-5 mx-3 carrusel overflow-auto">
            @for (item of fetchedCategories(); track item.id) {
                <div (click)="onCategorySelected(item)">
                    <div class="flex justify-center items-center text-nowrap text-white p-2">
                        <span class="h-2 w-2 bg-white rounded-full mr-2"></span>
                        <span class="font-medium text-sm">{{item.name}}</span>
                    </div>
                    <span [ngClass]="{'selected': item.id == selectedCategory?.id}"></span>
                </div>
            }
        </nav>
    </div>
</header>

<section class="animate__animated animate__fadeIn">
    <div class="mx-4 mt-6 mb-2">
        <h1 class="text-xl font-bold dark:text-white">{{ 'video-course' | transloco}}</h1>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 px-4 mt-4">
        @for (video of videos; track video.id) {
            <app-player-card [item]="adaptToPlayerCard(video)"/>
        }
    </div>
</section>
