<div class="flex flex-col  h-screen w-auto items-center justify-center ">
  <div class="relative">
    <div class="w-44 md:w-52 lg:w-60">
      @if (darkModeService.isDarkMode()) {
        <img class="w-auto h-max" src="assets/icons/logo-dark.png" alt="logo">
      } @else {
        <img class="w-auto h-max" src="assets/icons/logo-ligth.png" alt="logo">
      }
    </div>
  </div>

      <!-- Para el test modo oscuro -->
      <button class="flex transition-transform hover:scale-125 align-middle text-xl" (click)="darkModeService.isDarkMode.set(!darkModeService.isDarkMode())">
        @if (darkModeService.isDarkMode()) {
          <span>🌙</span>
        } @else {
          <span>☀️</span>
        }
      </button>

      <div class="m-14">

        <div class="text-3xl text-wrap w-auto font-bold text-center dark:text-custom-light text-custom-dark">
          <h1>Welcome to yoga</h1>
          <h1>Online class</h1>
        </div>

        <div class="grid grid-cols-2 w-72 h-14 mt-9">

          <button class="btn w-32 lg:h-16 lg:w-36  align-middle dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark
          rounded-[50px] mx-[6px] lg:m-3 lg:ml-3">
            <a [routerLink]="['/auth/login']">Login</a>
          </button>

          <button class="btn2 h-14 w-32 lg:h-16 lg:w-36  align-middle dark:text-custom-light text-custom-dark-purple  border dark:border-white rounded-[50px] mx-[6px] lg:m-3">
            <a [routerLink]="['/auth/signup']">Signup</a>
          </button>

        </div>
      </div>





</div>
