.carrousel-y {
  scroll-behavior: auto;
  overflow-y: auto;
  overflow-x: hidden; 
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.carrousel-y::-webkit-scrollbar {
  display: none;
}