<app-basic-header [options]="{name:'yoga-for-beginner', redirect:'/home/main'}" class="relative" style="z-index: 1;" />

<article class="rounded-br-[50px] shadow-md bg-cover bg-center animate__animated animate__fadeIn"
  [style.background-image]="'linear-gradient(45deg, #00000044, #00000044), url(' + course?.image + ')'"
  style="margin-top: -50px;"
>
  <div class="h-[350px] flex flex-col justify-between z-10">
    <div class="flex flex-row justify-between items-center w-full mt-20">
      <span class="bg-[#7351e6] text-white text-s px-6 py-2 rounded-full ml-5">New</span>
      <span class="bg-[#7351e6] text-white text-s px-4 py-2 rounded-full mr-5">3/5</span>
    </div>
    <div class="flex flex-col items-start m-6 ">
      <h1 class="text-white text-3xl font-bold">{{course?.trainer?.name}}</h1>
      <h3 class="text-white text-lg font-light">{{course?.title}}</h3>
    </div>
  </div>
</article>

<section class="m-3 animate__animated animate__fadeIn">
  <p class="text-lg  text-gray-500 dark:text-white ml-5 ">{{course?.description}}</p>
  <div class="border-t border-gray-300 my-4"></div>
  <div class="grid grid-flow-col grid-rows-1 justify-around dark:text-white">
    <div class="flex items-center gap-3">
      <div class="w-10 h-10 bg-slate-300 dark:bg-slate-500 shadow-sm flex items-center justify-center rounded-md">
        <span class="fas fa-bars text-purple-700 dark:text-white"></span>
      </div>
      <div class="flex flex-col">
        <span class="text-gray-500 dark:text-white font-semibold">Level</span>
        <span class="text-lg font-bold">{{course?.level}}</span>
      </div>
    </div>
    <div class="flex items-center gap-3">
      <div class="w-10 h-10 bg-slate-300 dark:bg-slate-500 shadow-sm flex items-center justify-center rounded-md">
        <span class="fa-regular fa-calendar-days text-purple-700 dark:text-white text-lg"></span>
      </div>
      <div class="flex flex-col">
        <span class="text-gray-500 dark:text-white font-semibold ">Weeks</span>
        <span class="text-lg font-bold">{{course?.durationWeeks}}</span>
      </div>
    </div>
    <div class="flex items-center gap-3">
      <div class="w-10 h-10 bg-slate-300 dark:bg-slate-500 shadow-sm flex items-center justify-center rounded-md">
        <span class="fa-regular fa-clock text-purple-700 dark:text-white text-lg"></span>
      </div>
      <div class="flex flex-col">
        <span class="text-gray-500 dark:text-white font-semibold">Mins</span>
        <span class="text-lg font-bold">{{course?.durationMinutes}}</span>
      </div>
    </div>

  </div>
</section>

<section class="mx-4 my-6 animate__animated animate__fadeIn">
  <h2 class="text-xl font-bold dark:text-white">Most More Popular Courses</h2>

  <section class="mx-4 py-7">
    <div class="flex justify-between items-end dark:text-white">
      <h1 class="text-xl font-bold">{{'popular-courses'| transloco}}</h1>
      <div class="flex items-center text-gray-500 pr-2" [routerLink]="['/home/main-course']">
        <a class="text-sm mx-2 dark:text-white">{{'see-all' | transloco}}</a>
        <span class="fas fa-chevron-right"></span>
      </div>
    </div>
    <app-carrusel-bg-img [items]="(popularCourses$ | async) || []" />
  </section>

</section>