<app-basic-header 
  [options]="{name:'yoga-for-beginner', redirect:'/home/main'}" 
  class="relative" 
  style="z-index: 1;" 
/>

@if (isLoading) {
  <div class="flex justify-center items-center h-16">
    <span class="fas fa-spinner fa-spin fa-2x text-gray-400"></span>
    <span class="text-gray-400 text-lg ml-2">{{'loading' | transloco}}</span>
  </div>
}@else if(course) {
  <app-course-header [course]="course!"/>
  <app-course-description [course]="course!"/>
  <app-section-expanded [course]="course!" [id]="id!"/>
  <section class="mx-4 py-7">
    <div class="flex justify-between items-end dark:text-white">
      <h2 class="text-xl font-bold dark:text-white">{{'most-more-popular-courses' | transloco}}</h2>
      <div class="flex items-center text-gray-500 pr-2" [routerLink]="['/home/main-course']">
        <a class="text-sm mx-2 dark:text-white">{{'see-all' | transloco}}</a>
        <span class="fas fa-chevron-right"></span>
      </div>
    </div>
    @if (isLoadingPopulars) {
      <div class="carrousel mt-4">
        @for (item of [1,2,3,4]; track $index) {
          <app-square-skeleton [dimensions]="{width: '164px', heigth: '150px'}" />
        }
      </div>
    }
    <app-carrusel-bg-img 
      [items]="popularCourses"
      [loadingQuantity]="isLoadingMorePopulars ? 2 : undefined"
      [route]="'/home/main-course'" 
      (scrolled)="!isLoadingPopulars && !isLoadingMorePopulars && getPopulars()" 
    />
  </section>
}