.carrousel-y {
  scroll-behavior: auto;
  overflow-y: auto;
  overflow-x: hidden; 
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.carrousel-y::-webkit-scrollbar {
  display: none;
}

.carrousel{
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar{
  display:none;
}