.carrousel-y {
  scroll-behavior: auto;
  overflow-y: auto;
  overflow-x: hidden; 
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.carrousel-y::-webkit-scrollbar {
  display: none;
}

mat-expansion-panel {
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
}