<app-basic-header [options]="{name:'yoga-for-beginner', redirect:'/home/main'}" class="relative" style="z-index: 1;" />



@if (isLoading) {
  <div class="flex justify-center items-center h-16">
    <span class="fas fa-spinner fa-spin fa-2x text-gray-400"></span>
    <span class="text-gray-400 text-lg ml-2">{{'loading' | transloco}}</span>
  </div>
}@else {
  <article class="rounded-br-[50px] shadow-md bg-cover bg-center animate__animated animate__fadeIn"
  [style.background-image]="'linear-gradient(45deg, #00000044, #00000044), url(' + course?.image + ')'"
  style="margin-top: -50px;"
>
  <div class="h-[350px] flex flex-col justify-end z-10"> <!--Poner justify between si activamos los span-->
    <!-- <div class="flex flex-row justify-between items-center w-full mt-20">
      <span class="bg-[#7351e6] text-white text-s px-6 py-2 rounded-full ml-5">New</span>
      <span class="bg-[#7351e6] text-white text-s px-4 py-2 rounded-full mr-5">3/5</span>
    </div> -->
    <div class="flex flex-col items-start m-6 ">
      <h1 class="text-white text-3xl font-bold">{{course?.trainer?.name}}</h1>
      <h3 class="text-white text-lg font-light">{{course?.title}}</h3>
    </div>
  </div>
</article>

  <section class="m-3 animate__animated animate__fadeIn">
    <p class="text-lg  text-gray-500 dark:text-white ml-5 ">{{course?.description}}</p>
    <div class="border-t border-gray-300 my-4"></div>
    <div class="grid grid-flow-col grid-rows-1 justify-around dark:text-white">
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 bg-slate-300 dark:bg-slate-500 shadow-sm flex items-center justify-center rounded-md">
          <span class="fas fa-bars text-purple-700 dark:text-white"></span>
        </div>
        <div class="flex flex-col">
          <span class="text-gray-500 dark:text-white font-semibold">{{'level' | transloco}}</span>
          <span class="text-lg font-bold">{{course?.level}}</span>
        </div>
      </div>
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 bg-slate-300 dark:bg-slate-500 shadow-sm flex items-center justify-center rounded-md">
          <span class="fa-regular fa-calendar-days text-purple-700 dark:text-white text-lg"></span>
        </div>
        <div class="flex flex-col">
          <span class="text-gray-500 dark:text-white font-semibold ">{{"weeks" | transloco}}</span>
          <span class="text-lg font-bold">{{course?.durationWeeks}}</span>
        </div>
      </div>
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 bg-slate-300 dark:bg-slate-500 shadow-sm flex items-center justify-center rounded-md">
          <span class="fa-regular fa-clock text-purple-700 dark:text-white text-lg"></span>
        </div>
        <div class="flex flex-col">
          <span class="text-gray-500 dark:text-white font-semibold">Mins</span>
          <span class="text-lg font-bold">{{course?.durationMinutes}}</span>
        </div>
      </div>
    </div>
  </section>
  
  <section class="my-8 mx-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="flex flex-1 justify-between items-center">
          <h1 class="text-xl dark:text-white font-bold">
            {{'sections' | transloco}}
          </h1>
          <span class="text-white text-sm px-1.5 mx-2 font-semibold bg-purple-700 rounded-full">{{course?.lessons?.length}}</span>
        </div>
      </mat-expansion-panel-header>
      <ol class="grid grid-cols-1 gap-2">
        @for (item of course?.lessons; track $index) {
          <li class="flex justify-between items-center my-2 text-gray-500 hover:bg-violet-300 hover:text-purple-700 py-2 px-4 rounded-md"
          [routerLink]="['/home/player-video']"
          [queryParams]="{course: id,lesson: item.id}">
            <div class="text-lg font-semibold dark:text-white  ">{{item.title}}</div>
            <span class="fa-solid fa-play text-lg dark:text-white"></span>
          </li>
        }
      </ol>
    </mat-expansion-panel>
  </section>
    
    <section class="mx-4 py-7">
      <div class="flex justify-between items-end dark:text-white">
        <h2 class="text-xl font-bold dark:text-white">{{'most-more-popular-courses' | transloco}}</h2>
        <div class="flex items-center text-gray-500 pr-2" [routerLink]="['/home/main-course']">
          <a class="text-sm mx-2 dark:text-white">{{'see-all' | transloco}}</a>
          <span class="fas fa-chevron-right"></span>
        </div>
      </div>
      <app-carrusel-bg-img [items]="(popularCourses$ | async) || []" />
    </section>
}