<nav class="bg-gradient-purple rounded-br-[50px]">
  <div class="py-10 px-4 text-white bg-main-bg bg-cover contenedor">
    <div class="izquierda">
      <span [routerLink]="[options.redirect]" class="fas fa-chevron-left pr-4"></span>
      <span class="font-medium text-lg" [innerHTML]="options.name | transloco"></span>
    </div>
    <div class="derecha">
      <span class="font-medium text-lg mr-3" [innerHTML]="options.inbox"></span>
      <span class="font-medium text-lg mr-3"[innerHTML]="'Inbox' | transloco"></span>
      <button class="fa-solid fa-trash-can mr-3 text-2xl" (click)="emitClearEvent()"></button>
    </div>
  </div>
  </nav>

