<article 
  class="rounded-br-[50px] shadow-md bg-cover bg-center animate__animated animate__fadeIn"
  [style.background-image]="'linear-gradient(45deg, #00000044, #00000044), url(' + course.image + ')'"
  style="margin-top: -50px;">
  <div class="h-[350px] flex flex-col justify-end z-10"> <!--Poner justify between si activamos los span-->
    <!-- 
      <div class="flex flex-row justify-between items-center w-full mt-20">
      <span class="bg-[#7351e6] text-white text-s px-6 py-2 rounded-full ml-5">New</span>
      <span class="bg-[#7351e6] text-white text-s px-4 py-2 rounded-full mr-5">3/5</span>
      </div> 
    -->
    <div class="flex flex-col items-start m-6 ">
      <h1 
        class="text-white text-3xl font-bold w-max" 
        [routerLink]="['/home/trainer', course.trainer.id]"
      >
        {{course.trainer.name}}
      </h1>
      <h3 class="text-white text-lg font-light">{{course.title}}</h3>
    </div>
  </div>
</article>