<header class="bg-gradient-purple rounded-br-[50px] text-white" [hidden]="isLoadingUpdateUserForm">
  <app-header-card redirectLastPage="/home/profile" redirectNextPage="/home/update/login"></app-header-card>
</header>
<body class="flex flex-col w-auto items-center justify-center
bg-custom-light dark:bg-custom-dark animate__animated animate__fadeIn"
[hidden]="isLoadingUpdateUserForm">
  <div class="columns-sm" [hidden]="isLoadingUpdateUserForm">
    <mat-card class="card m-10 rounded-[50px]">
      <div class="card-body text-wrap text-left w-auto font-bold text-custom-dark dark:text-custom-light">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              <h4 class="card-title text-xl">My Avatar</h4>
            </mat-card-title>

            <mat-card-subtitle>
              <h6 class="card-subtitle">My Image</h6>
            </mat-card-subtitle>

            <div class="rounded-full">
              @if (previewUploadFile==='') {
                <img mat-card-md-image src={{user.getValue().image}} alt="Profile user photo" >
                }@else {
                <img mat-card-md-image src={{previewUploadFile}} alt="Profile user photo to update" >
                }
            </div>

          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="items-center">
          <form class="form mt-5">

          <label class="block mb-2 text-xl text-custom-dark font-bold dark:text-white" for="file_input">
            Upload file
          </label>

          <input class="block w-full text-lg dark:text-custom-dark-purple text-white border rounded-lg cursor-pointer"
          [ngClass]="{'bg-custom-gradient-purple':!darkModeService.isDarkMode(),'bg-custom-light ':darkModeService.isDarkMode()}"
          id="file_input" type="file"
          (change)="loadImage($event)">

            <button class="btn mt-9 w-full h-16 align-middle  dark:text-custom-dark-purple text-custom-light rounded-[50px]"
            [ngClass]="{'bg-custom-gradient-purple':!darkModeService.isDarkMode(),'bg-custom-light ':darkModeService.isDarkMode()}"
            (click)="updatePhoto()"
            [disabled]="!UserPhotoUploadFile.hasValue() || isLoadingUpdateUserForm"
            type="button">
            {{saveProfileImage | transloco}}
          </button>
          </form>
        </mat-card-content>

      </div>
  </mat-card>


    <mat-card class="card m-10 rounded-[50px]">
        <div class="card-body text-wrap text-left w-auto font-bold text-custom-dark dark:text-custom-light">
          <mat-card-header>

            <mat-card-title>
              <h4 class="card-title text-xl">My Profile</h4>
            </mat-card-title>

            <mat-card-subtitle>
              <h6 class="card-subtitle">Configuration</h6>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="items-center">
            <form class="form mt-5"
            autocomplete="off"
            [formGroup]="updateUserForm"
            (submit)="updateEmailPhoneName()">

            <mat-form-field appearance="outline"
              class="text-base w-full h-16">
                <mat-label>Full Name</mat-label>
                  <input matInput
                   type="text"
                   formControlName="name"
                   placeholder="Your name here">
              </mat-form-field>

              <mat-form-field appearance="outline" class="text-base mt-6 w-full h-16">
                <mat-icon matPrefix class="material-icons md-18 ml-4">mail</mat-icon>
                <mat-label>Email</mat-label>
                  <input matInput
                  type="email"
                  formControlName="email"
                  placeholder="your email@gmail.com">
              </mat-form-field>

              <mat-form-field appearance="outline" class="text-base mt-6 w-full h-16">
                <mat-label>Phone</mat-label>
                  <input matInput
                  type="tel"
                  formControlName="phone"
                  placeholder="0414240808">
              </mat-form-field>

              <button class="btn mt-9 w-full h-16 align-middle  dark:text-custom-dark-purple text-custom-light rounded-[50px]"
              [ngClass]="{'bg-custom-gradient-purple':!darkModeService.isDarkMode(),'bg-custom-light ':darkModeService.isDarkMode()}"
              [disabled]="updateUserForm.invalid || isLoadingUpdateUserForm"
              type="submit">
              {{saveProfileInfo | transloco}}
              </button>
            </form>
          </mat-card-content>
        </div>
    </mat-card>
  </div>
</body>

@if (isLoadingUpdateUserForm) {
  <app-loader></app-loader>
}
