<section class="mx-4 py-7">
  <div class="flex justify-between items-end dark:text-white">
    <h1 class="text-xl font-bold">{{'courses-by-trainer'| transloco}}</h1>
  </div>
  @if (isLoading()) {
    <div class="carrousel mt-4">
      @for (item of [1,2,3,4]; track $index) {
        <app-square-skeleton [dimensions]="{width: '164px', heigth: '150px'}" />
      }
    </div>
  } @else if (courses().length) {
    <app-carrusel-bg-img 
      [items]="courses()"
      [loadingQuantity]="isLoadingMoreCourses() ? 2 : undefined"
      [route]="'/home/main-course'"
      (scrolled)="!isLoadingMoreCourses() && getCourses()" 
    />
  } @else {
    <div class="text-center text-gray-500 dark:text-gray-300 text-xl">
      {{'no-courses-by-trainer'| transloco}}
    </div>
  }
</section>