<header>
  <nav class="bg-gradient-purple rounded-br-[50px] text-white">
    <div class="py-10 px-4 text-white bg-main-bg bg-cover">
      <a class="profile-picture" [routerLink]="['/home/profile']"><img src="{{userInfo.getUserInfo().image}}"
          class="w-[40px] h-[40px] rounded-full" align="right" /></a>
      <span class="font-bold text-lg">{{userInfo.getUserInfo().name}}<br>
        <p class="font-medium text-lg">{{userInfo.getUserInfo().id}}</p>
      </span>
    </div>
    <div class="rounded-lg bg-slate-100 shadow-md p-3 flex items-center mx-4 gap-2 " [routerLink]="['/home/search']">
      <input  type="text"
              class="font-medium text-xl text-gray-500 bg-transparent border-none w-full focus:outline-none"
              placeholder="Search">
      <button type="submit" class="fas fa-search fa-xl text-gray-400"></button>
    </div>
    <div class="mx-4 py-4"></div>
  </nav>
</header>
<div class="animate__animated animate__fadeIn">
  <section>
    <div class="mx-4 py-7 flex justify-between items-center">
      <div>
        <h1 class="text-xl font-bold dark:text-white">{{'fitness' | transloco}}</h1>
        <p class="text-sm text-gray-500 dark:text-white">{{'update' | transloco}}</p>
      </div>
      <app-circular-progress [progress]="76"></app-circular-progress>
    </div>
    <div class="border-t border-gray-300 my-2"></div>
  </section>

  <app-categories/>

  <app-popular-courses/>

  <section class="mx-4 py-7">
    <div class="flex justify-between items-end dark:text-white">
      <h1 class="text-xl font-bold">{{'video-courses' | transloco}}</h1>
      <div class="flex items-center text-gray-500 pr-2" [routerLink]="['/home/video-list']">
        <a class="text-sm mx-2 dark:text-white">{{'see-all' | transloco}}</a>
        <span class="fas fa-chevron-right"></span>
      </div>
    </div>

    <div class="carrousel mt-4 flex gap-5">
      @for (item of videoCourses; track item.id) {
        <app-player-card [item]="adaptToPlayerCard(item)"/>
      }
    </div>
  </section>

  <app-blogs/>
</div>