<app-basic-header [options]="{name:'player video', redirect:'/home/main'}"/>

@if (isLoading) {
  <div class="flex justify-center items-center h-16 animate__animated animate__fadeIn">
    <span class="fas fa-spinner fa-spin fa-2x text-gray-400"></span>
    <span class="text-gray-400 text-lg ml-2">{{'loading' | transloco}}</span>
  </div>
}
@else {
  <app-player [_inputVideo]="this.video"/>
    <section class="text-white bg-gradient-purple flex flex-col p-4 w-auto m-3 rounded-xl animate__animated animate__fadeIn">
      <h1 [routerLink]="['/home/main-course']"
          [queryParams]="{id:idCourse}"
          class="text-white text-xl underline font-semibold text-center">{{this.lesson?.title}}</h1>
      @if (this.lesson?.content) {
        <h2 class="font-semibold my-1">Content:</h2>
        <p>{{this.lesson?.content}}</p>
      }
    </section>
  
    <section class="flex justify-between items-end m-3 animate__animated animate__fadeIn">
      <button class="bg-gradient-purple text-white text-sm font-semibold py-2 px-3 rounded-full  disabled:opacity-30 disabled:cursor-not-allowed disabled:select-none"
        [disabled]="!this.hasPrevious()"
        (click)="this.setPreviusLesson()">
        <span class="fas fa-chevron-left"></span>
        Prev
      </button>

      <span class="text-purple-700 px-2 py-1.5 bg-slate-200 dark:bg-slate-400 border-violet-800 border-2 border-opacity-200 rounded-xl dark:text-white text-sm font-semibold text-pretty-purple">
        {{this.indexLesson}}...{{this.course?.lessons?.length!}}
      </span>
      
      <button class="bg-gradient-purple text-white text-sm font-semibold py-2 px-3 rounded-full disabled:opacity-30 first-letter:disabled:cursor-not-allowed disabled:select-none"
        [disabled]="!this.hasNext()"
        (click)="this.setNextLesson()">
        Next
        <span class="fas fa-chevron-right"></span>
      </button>
    </section>
    
    
    <app-comments [sectionId]="idLesson!"/>
}

