<app-basic-header [options]="{name:'player video', redirect:'/home/main'}"/>

@if (isLoading) {
  <div class="flex justify-center items-center h-16 animate__animated animate__fadeIn">
    <span class="fas fa-spinner fa-spin fa-2x text-gray-400"></span>
    <span class="text-gray-400 text-lg ml-2">{{'loading' | transloco}}</span>
  </div>
}
@else {
  <section class="grid content-center p-2 mt-8 rounded-md animate__animated animate__fadeIn">
    <video #videoPlayer class="w-full aspect-video rounded-xl" controls autoplay="false">
      <source
        [src]="this.lesson?.video" 
        type="video/mp4">
    </video>
  </section>
  
  <section class="text-white bg-gradient-purple flex flex-col p-4 w-auto m-3 rounded-xl animate__animated animate__fadeIn">
    <h1 class="text-white text-2xl font-bold text-center">{{this.lesson?.title}}</h1>
    @if (this.lesson?.content) {
      <h2 class="font-semibold my-1">Content:</h2>
      <p>{{this.lesson?.content}}</p>
    }
  </section>
  
  <div class="border-t border-gray-300 my-6 mx-4"></div>
  
  <app-comments [sectionId]="idLesson!"/>
  
  <section class="flex justify-between items-end m-3 animate__animated animate__fadeIn">
    <button class="bg-purple-700 text-white font-bold py-2 px-4 rounded disabled:bg-slate-500 disabled:opacity-50 disabled:cursor-not-allowed disabled:select-none"
      [disabled]="!this.hasPrevious()"
      (click)="this.setPreviusLesson()">
      <span class="fas fa-chevron-left"></span>
      Prev
    </button>
    <button class="font-semibold text-xl text-purple-700 underline hover:text-gray-500 dark:hover:text-white"
    [routerLink]="['/home/main-course']"
    [queryParams]="{id:idCourse}">
      Ir al Curso
    </button>
    <button class="bg-purple-700 text-white font-bold py-2 px-4 rounded disabled:bg-slate-500  disabled:opacity-50 disabled:cursor-not-allowed disabled:select-none"
      [disabled]="!this.hasNext()"
      (click)="this.setNextLesson()">
      Next
      <span class="fas fa-chevron-right"></span>
    </button>
  </section>
}

