<nav class="relative">
    <app-basic-header [options]="{redirect: '/home/main', name: 'popular-search'}" style="position: relative;" />

    <div class="absolute top-[80px] left-1/2 transform -translate-x-1/2 w-full">
        <div class="rounded-lg bg-slate-100 shadow-md p-4 flex items-center mx-5 gap-2">
            <input [(ngModel)]="inputSearch" type="text"
                class="font-medium text-xl text-gray-500 bg-transparent border-none w-full focus:outline-none"
                placeholder="Search">
            <span class="fas fa-search fa-xl text-gray-400 aria-disabled:text-gray-200 aria-disabled:cursor-not-allowed"
            [ariaDisabled]="(this.inputSearch.length === 0)"
            (click)="getBySearch()"></span>
        </div>
    </div>
</nav>

<div class="animate__animated animate__fadeIn">
    <div class="flex flex-wrap mt-10 p-1 mx-2 gap-2">
        @for (item of categories; track item.id) {
        <div (click)="onTagClick(item.name)"
        [class]="{ 
            'text-white': _tag.includes(item.name), 
            'text-purple-700': !_tag.includes(item.name), 
            'bg-violet-700': _tag.includes(item.name), 
            'bg-violet-100': !_tag.includes(item.name), 
            'dark:text-violet-700': _tag.includes(item.name), 
            'dark:bg-slate-100': _tag.includes(item.name),
            'dark:bg-gray-500': !_tag.includes(item.name), 
            'dark:text-white': !_tag.includes(item.name), 
        }"
        class=" rounded-full shadow-lg flex items-center justify-center ">
        <span class="text-sm font-light py-2 px-6">{{ item.name }}</span>
   </div>

        }
    </div>

    <app-popular-courses/>

    @if(isLoading){
        <div class="flex justify-center items-center h-16">
            <span class="fas fa-spinner fa-spin fa-2x text-gray-400"></span>
            <span class="text-gray-400 text-lg ml-2">{{'loading' | transloco}}</span>
        </div>
    }@else {
        <section class="mt-8 mx-4">
            <mat-tab-group>
                <mat-tab label="Courses">
                    @if(this.program.courses.length > 0){
                        <div class="flex justify-end items-center py-4">
                            <h4 class=" font-semibold text-gray-400 dark:text:white px-5">{{"found: " | transloco}}<span class="text-white text-xs px-1.5 mx-2 font-semibold bg-purple-700 rounded-full">{{this.program.courses.length}}</span></h4>
                        </div>
                        <div class="border-t border-gray-200 dark:border-gray-700"></div>
                        <app-programs-tag [programs]="adaptToTag(program.courses)" [redirect]="'/home/main-course'"/>
                    }
                    @else {
                        <div class="flex justify-center items-center h-16 mt-4">
                            <span class="fas fa-exclamation-triangle fa-2x text-gray-400"></span>
                            <span class="text-gray-400 text-lg ml-2">{{'no-courses-to-show' | transloco}}</span>
                        </div>
                    }
                </mat-tab>
                <mat-tab label="Blogs">
                    @if(this.program.blogs.length > 0){
                        <div class="flex justify-end items-center py-4">
                            <h4 class=" font-semibold text-gray-400 dark:text:white px-5">{{"found: " | transloco}}<span class="text-white text-xs px-1.5 mx-2 font-semibold bg-purple-700 rounded-full">{{this.program.blogs.length}}</span></h4>
                        </div>
                        <div class="border-t border-gray-200 dark:border-gray-700"></div>
                        <app-programs-tag [programs]="adaptToTag(program.blogs)" [redirect]="'/home/main-course'"/>
                    }
                    @else {
                        <div class="flex justify-center items-center h-16 mt-4">
                            <span class="fas fa-exclamation-triangle fa-2x text-gray-400"></span>
                            <span class="text-gray-400 text-lg ml-2">{{'no-blogs-to-show' | transloco}}</span>
                        </div>
                    }
                </mat-tab>
            </mat-tab-group>
        </section>
    }

</div>