<div class="animate__animated animate__fadeIn mt-6">
  <img src="../../../../../assets/images/no-profile-img.jpg" class="block mx-auto w-[120px] h-[120px] rounded-full"/>
  <h1 class="dark:text-white text-center text-2xl font-semibold mt-4">{{trainerDetail().name}}</h1>
  <div class="dark:text-white flex justify-center items-center mt-4 gap-6">
    <div class="flex flex-col gap-1 items-center">
      <span class="font-semibold">{{trainerDetail().followers}}</span>
      <span class="text-sm">{{'followers' | transloco}}</span>
    </div>
    <span 
      class="cursor-pointer rounded-full px-6 py-2 text-white "
      [class.bg-gradient-purple]="!trainerDetail().userFollow"
      [class.bg-gray-400]="trainerDetail().userFollow"
      >
      {{ trainerDetail().userFollow ? 'unfollow'  : 'follow' | transloco }}
    </span>
  </div>
</div>