@use '@angular/material' as mat;

@include mat.core();

$Lambda_front-primary-light: mat.define-palette(mat.$deep-purple-palette, 500);
$Lambda_front-accent-light: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Lambda_front-warn-light: mat.define-palette(mat.$red-palette);

$Lambda_front-light-theme: mat.define-light-theme((
 color: (
   primary: $Lambda_front-primary-light,
   accent: $Lambda_front-accent-light,
   warn: $Lambda_front-warn-light
 ),
  typography: mat.define-typography-config(),
  density: 0,
));


$Lambda_front-primary-dark: mat.define-palette(mat.$gray-palette, 50);
$Lambda_front-accent-dark: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Lambda_front-warn-dark: mat.define-palette(mat.$red-palette);

$Lambda_front-dark-theme: mat.define-dark-theme((
 color: (
   primary: $Lambda_front-primary-dark,
   accent: $Lambda_front-accent-dark,
   warn: $Lambda_front-warn-dark
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($Lambda_front-light-theme);
@include mat.checkbox-color($Lambda_front-light-theme);

.input-dark{
  @include mat.form-field-color($Lambda_front-dark-theme);
  color: #F2F2F2
}

.input-ligth{
  @include mat.form-field-color($Lambda_front-light-theme);
  color: #677294;
}

.dark{
  @include mat.all-component-colors($Lambda_front-dark-theme);
  @include mat.strong-focus-indicators-theme($Lambda_front-dark-theme);
}
