/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --bottom-bar-height: 75px;
}

.bg-gradient-purple {
  background: linear-gradient(144.61deg, #4F14A0 3.01%, #8066FF 90.98%);
}

html, body {
  font-family:'PT Sans';
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
