/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './custom-theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-dark: #2D2D3A;
  --custom-light: #F2F2F2;
  --custom-dark-purple: #4F14A0;
  --custom-light-purple: #8066FF;
  --custom-black: #222222;
  --custom-light-dark: #4E546A;
  --custom-light-gray: #677294;
}

body {
  --bottom-bar-height: 75px;
}

.bg-gradient-purple {
  background: linear-gradient(144.61deg, #4F14A0 3.01%, #8066FF 90.98%);
}

html, body {
  font-family:'PT Sans';
}
/* NT asi se resuelve el problema del borde con material y tailwind */
.mdc-notched-outline__notch {
  border-right: none !important;
}

.mdc-text-field--outlined {
  /* Custom Gray of tailwind */
  --mdc-outlined-text-field-container-shape: 45px !important;
  font-size: 16px;
}


.input-ligth:invalid {
  color: red;
  background-color: pink;
}


.md-18 {
  font-size: 18px !important;
}


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
