/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  --bottom-bar-height: 75px;
}

.bg-gradient-purple {
  background: linear-gradient(144.61deg, #4F14A0 3.01%, #8066FF 90.98%);
}

html, body {
  font-family:'PT Sans';
}
/* NT asi se resuelve el problema del borde con material y tailwind */
.mdc-notched-outline__notch {
  border-right: none !important;
}

.mdc-text-field--outlined {
  /* Custom Gray of tailwind */
  color: #677294;
  --mdc-outlined-text-field-container-shape: 45px !important;
  font-size: 16px;
}

.md-18 {
  font-size: 18px !important;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
