<div class="flex flex-col  h-screen w-auto items-center justify-center bg-sign-up bg-center bg-cover bg-custom-light dark:bg-custom-dark">

  <div class="w-28 h-24 md:w-52 lg:w-60 logo -mt-40">
      <img class="w-auto h-max" src="assets/icons/logo-ligth.png" alt="logo">
  </div>

  <!-- NT: es mt-12 abajo pero para design mientras pongo mt-20 -->

  <div class="mt-12">
    <h1 class="text-4xl text-wrap text-center w-auto font-bold text-ce  text-custom-light">Sign up</h1>

    <div>

    <form class="grid grid-cols-1 mt-6"
    [formGroup]="signUpForm"
    (ngSubmit)="register()"
    >
      <input class="mt-6 mx-5" type="email" formControlName="name" placeholder="Your name here">

      @if (isValidField('name')) {
        <app-error error="Must have first and last name"></app-error>
      }

      <input class="mt-6 mx-5" type="email" formControlName="email" placeholder="Your email@gmail.com">

      @if (isValidField('email')) {
        <app-error error="Must be acceted email. Ex:email@gmail.com"></app-error>
      }

      <input class="mt-6 mx-5" type="tel" formControlName="phone" placeholder="+088 031 420 698">

      @if (isValidField('phone')) {
        <app-error error="Must be numbers Ex:+088 031 420 698"></app-error>
      }

      <input class="mt-6 mx-5" type="text" formControlName="password" placeholder="******">

      @if (isValidField('password')) {
        <app-error error="Must accept have 6 of length"></app-error>
      }

      <div class="text-custom-light align-middle">
        <div class="mt-6 mx-8 ">
          <input class="text-center mr-2" type="checkbox" id="flexCheckDefault" formControlName="termsAndConditions">
          <label for="flexCheckDefault" class="text-custom-light">
             Yes ! I Agree all
            <span class="font-bold"> Terms </span>
            &
            <span class="font-bold"> Conditions </span>
          </label>
        </div>

        @if (isValidField('termsAndConditions')) {
          <app-error error="Must accept terms and conditions"></app-error>
        }

        <button class="btn mt-9 w-80 h-16 lg:w-36  align-middle bg-custom-light  text-custom-dark-purple"
          [disabled]="signUpForm.invalid"
          type="submit">
          Sign up
        </button>

        <!-- <pre>{{signUpForm.valid}}</pre> -->

      </div>

    </form>

    </div>

  </div>

</div>

