<header class="bg-gradient-purple text-white">
  <div class="p-6 flex items-center gap-5">

    <div class="flex items-end dark:text-gray-500" [routerLink]="['']" >
      <span class="fas fa-chevron-left"></span>
    </div>

    <div class=""></div>
      <div class="font-medium text-lg"> Crear Curso </div>
    <div class=""></div>

  </div>
</header>

<div class="animate__animated animate__fadeIn h-[100dvh]">

  <section class="mx-4 py-7">
    <div class="gap-2 grid dark:text-white">

      <p class="font-medium text-lg">Titulo del Curso</p>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Tite</mat-label>
        <input matInput
               placeholder="The best course ever">
      </mat-form-field>

      <p class="font-medium text-lg">Descripcion del Curso</p>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="This course is about of how to survive to software development"></textarea>
      </mat-form-field>

      <p class="font-medium text-lg">Categoria del Curso</p>
        <mat-form-field appearance="outline">
          <mat-label>Select an option</mat-label>
          <mat-select>
            @for (category of categories; track category.id) {
              <mat-option [value]="category">{{category.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>


        <p class="font-medium text-lg">Trainer del Curso</p>
        <mat-form-field appearance="outline">
          <mat-label>Select an option</mat-label>
          <mat-select>
            @for (trainer of trainers; track trainer.id) {
              <mat-option [value]="trainer">{{trainer.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>


      <p class="font-medium text-lg">Time to fullfill in weeks</p>
      <mat-form-field appearance="outline">
        <mat-label>Weeks</mat-label>
        <input matInput #duration maxlength="2" placeholder="">
        <mat-hint align="end">{{duration.value.length}} / 2</mat-hint>
      </mat-form-field>


      <p class="font-medium text-lg">Quantity of minutes of content</p>

      <mat-form-field appearance="outline">
        <mat-label>Mins</mat-label>
        <input matInput #minutes maxlength="2" placeholder="">
        <mat-hint align="end">{{minutes.value.length}} / 2</mat-hint>
      </mat-form-field>


      <p class="font-medium text-lg">Nivel de Dificultad</p>
      <mat-form-field appearance="outline">
        <mat-label>Level</mat-label>
        <input matInput #dificulty maxlength="2" placeholder="">
        <mat-hint align="end">{{dificulty.value.length}} / 2</mat-hint>
      </mat-form-field>

      <p class="font-medium text-lg">Imagen que quiera mostrar en el Curso</p>

      <div class="bg-slate-100 shadow-md p-2 w-full">
        <input type="file"
              class="font-medium text-xl text-gray-500 bg-transparent border-none w-full focus:outline-none"
              placeholder="Subir Imagen"
              (change)="loadImage($event)"
              >
      </div>

    </div>

    <div class="mx-3 py-3"></div>

    <div class="w-full flex justify-center gap-3">
      <button [routerLink]="['']" class="rounded-[7px] btn w-40 h-10 align-middle dark:bg-custom-light bg-custom-dark-purple text-custom-light dark:text-custom-dark-purple ">
          Cancelar
      </button>

      <button class="rounded-[7px] btn w-40 h-10 align-middle dark:bg-custom-light bg-custom-dark-purple  text-custom-light dark:text-custom-dark-purple">
          Confirmar
      </button>
    </div>

    <div class="mx-2 py-2"></div>

  </section>

</div>
