<header class="bg-gradient-purple text-white">
  <div class="p-6 flex items-center gap-5">  

    <div class="flex items-end dark:text-gray-500" [routerLink]="['']" >
      <span class="fas fa-chevron-left"></span>
    </div>
  
    <div class=""></div>
      <div class="font-medium text-lg"> Add Course </div> 
    <div class=""></div>

  </div>

</header>

<div class="animate__animated animate__fadeIn">

  <section class="mx-4 py-7">
    <div class="flex justify-between items-end dark:text-white">
      Cominio
    </div>
  
  
    <div class="mx-4 py-4"></div>
  
  </section>

</div>
