name: Firebase Deploy

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Debug secret
        run: |
          echo "Valor de FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}"
          echo "Valor de VARIABLE: ${{ env.VARIABLE }}"


      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Build and Deploy
        run: |
          npm install
          npm run build
          firebase deploy --token ${{ env.FIREBASE_TOKEN }}
