<header class="bg-gradient-purple rounded-br-[50px] text-white">
  <app-header-card redirectLastPage="/home/main" redirectNextPage="/home/update"></app-header-card>
</header>

<div class="animate__animated animate__fadeIn">
  <section class="mx-4 py-7">
    <div class="flex justify-between items-end dark:text-white">
      <h1 class="text-xl font-bold">{{'my-training' | transloco}}</h1>
    </div>

    @if (isLoading()) {
      <div class="carrousel mt-4">
        @for (item of [1,2,3,4]; track $index) {
          <app-square-skeleton [dimensions]="{width: '164px', heigth: '150px'}" />
        }
      </div>
    } @else if (!isErrorCourses()){
      <app-carrusel-bg-img
        [items]="courses()"
        [loadingQuantity]="isLoadingMoreCourses() ? 2 : undefined"
        [route]="'/home/main-course'"
        (scrolled)="!isLoadingMoreCourses() && getMyTraining()"
      />
    } @else {
      <div class="text-center text-xl text-gray-400/75 mt-2">
        {{'no-courses-by-user' | transloco}}
      </div>
    }

  </section>
</div>
