<header class="bg-gradient-purple rounded-br-[50px] text-white">
  <div class="py-5 px-4 text-white bg-main-bg bg-cover flex justify-between items-start">
    <div class="flex items-center">
        <h1 class="fas fa-chevron-left pr-4" [routerLink]="['/home/main']"></h1>
        <p class="font-medium text-lg">{{'profile' | transloco}}</p>
    </div>
    <div class="fas fa-edit flex items-center py-2 pr-4">
    </div>
</div>
<div>

</div>
<div class="flex items-center ml-4" *ngIf="user.hasValue()">
  <span class="profile-picture">
     <img src="{{user.getValue().image}}" class="w-[69px] h-[69px] rounded-full" align="left"/>
  </span>
  <div class="flex flex-col items-start ml-4">
     <span class="font-bold">{{user.getValue().phone}}</span>
     <p class=" flex flex-col items-start " style="display:inline">
       <span class="font-bold text-lg">{{userInfoProfile.getUserInfoProfile().followers}}</span>
       <span class="font-bold text-lg mx-11">{{userInfoProfile.getUserInfoProfile().following}}</span>
     </p>
     <p class="follower-counts flex flex-col items-start " style="display:inline">
      <span class="font-medium">{{'followers' | transloco}}</span>
      <span class="font-medium mx-5">{{'following' | transloco}}</span>
    </p>
  </div>
</div>
<div class="mx-4 py-4"></div>
<div class="bar-wrapper w-[202px] h-[28px] mx-20 flex justify-between items-center" >
  <h1 class="fas fa-smile"></h1>
  <span class="font-bold">90hrs</span>
</div>
<div class="bar-wrapper w-[202px] h-[28px] mx-20 flex justify-between items-center">

  <progress [value]="progressValue" max="100"></progress>

</div>
<div class="mx-2 py-2"></div>
</header>

<div class="animate__animated animate__fadeIn">
  <section>
    <div class="mx-4 py-7 flex justify-between items-center">
      <div>
          <h1 class="text-xl font-bold dark:text-white">{{'statistics' | transloco}}</h1>
          <p class="text-sm text-gray-500 dark:text-white">{{'week' | transloco}}</p>
      </div>
      <div class="flex items-end text-gray-500 pr-2" [routerLink]="['']" >
        <a  class="text-sm mx-2 dark:text-white">{{'see-all' | transloco}}</a>
        <span class="fas fa-chevron-right"></span>
    </div>
  </div>
  <div class="chart-wrapper w-[328px] h-[126px] mx-4 flex justify-between items-center bg-white dark:text-white dark:bg-gray-500">
    <div>
      <h1 class="text-sm mx-2">{{'time' | transloco}}</h1>
      <p class="text-lg font-bold mx-2">{{'1:03:30'}}</p>
    </div>
    <ngx-charts-bar-vertical [ngClass]="{'dark-text': isDarkMode }"
        [view]="[210, 79]"
        [scheme]="colorSchemeStatistics"
        [results]="chartDataStatistics"
        [xAxis]="true"
        [yAxis]="false"
        [legend]="false"
        [showGridLines]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [barPadding]="20"
        (select)="onBarSelect($event)"
        ></ngx-charts-bar-vertical>
    </div>
  </section>

  <section class="mx-4 py-7">
    <div class="flex justify-between items-end dark:text-white">
      <h1 class="text-xl font-bold">{{'my-training' | transloco}}</h1>
      <div class="flex items-center text-gray-500 pr-2" [routerLink]="['/home/training']" >
          <a  class="text-sm mx-2 dark:text-white">{{'see-all' | transloco}}</a>
          <span class="fas fa-chevron-right"></span>
      </div>
  </div>
  <app-carrusel-bg-img [items]="getMyTraining()"/>
  </section>
</div>
